# macOS metadata
.DS_Store
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Editor
.vscode/*

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Environments
.env
.envrc
.venv
venv/
env/
ENV/

# Collaboratory database
/data

# Type checkers / linters
.mypy_cache/
.ruff_cache/
